# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Java specific settings
[*.java]
# Indentation
indent_size = 4
indent_style = space

# Line length and wrapping
max_line_length = 120
ij_java_wrap_long_lines = true

# Imports
ij_java_imports_layout = java.**,|,javax.**,|,org.**,|,com.**,|,*
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

# Braces
ij_java_brace_style = end_of_line
ij_java_do_while_brace_force = always
ij_java_for_brace_force = always
ij_java_if_brace_force = always
ij_java_while_brace_force = always

# Spaces
ij_java_space_before_if_parentheses = true
ij_java_space_before_method_parentheses = false
ij_java_space_before_for_parentheses = true
ij_java_space_before_while_parentheses = true
ij_java_space_before_try_parentheses = true
ij_java_space_before_catch_parentheses = true
ij_java_space_before_switch_parentheses = true

# Maven POM files
[pom.xml]
indent_size = 2

# Gradle files
[*.gradle]
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_size = 2

# XML and HTML
[*.{xml,html,xhtml}]
indent_size = 2

# Properties files
[*.properties]
indent_size = 2

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false
